<!-- contas/templates/home.html -->
 
{% extends "base.html" %}
{% block title %}Página Inicial - Controle Financeiro{% endblock %}

{% block content %}
<div class="centered my-5">
    <h1>Bem-vindo ao Controle de Finanças Pessoais</h1>
    <p class="subtitle">Organize suas receitas e despesas de forma simples e prática.</p>

    {% if user.is_authenticated %}
        <a href="{% url 'painel' %}" class="btn btn-success">Acessar Painel</a>
    {% else %}
        <a href="{% url 'registro' %}" class="btn btn-primary me-2">Registrar</a>
        <a href="{% url 'login' %}" class="btn btn-outline">Entrar</a>
    {% endif %}
</div>
{% endblock %}
