<!-- contas/templates/nova_transacao.html -->

{% extends "base.html" %}
{% block title %}
    {% if transacao %}Editar{% else %}Nova{% endif %} Transação
{% endblock %}

{% block content %}
<h2 class="mb-3">
    {% if transacao %}
        Editar Transação
    {% else %}
        Nova Transação
    {% endif %}
</h2>

<form method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    
    <div class="d-flex gap-2 mt-3">
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'painel' %}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
